// _variables.scss
// ==================

// stage color
$white     		: #fff;

// header footer color
$lightBlue 		: #e9f4f5;
$darkBlue  		: #dae9ea;

// Font colors
$red-fontColor  :#ff0024;
$body-FontColor	:#616060;

// Button Colors
$red-btn        :#ec1e79;
$green-btn      :#8bc53e;
$blue-btn		:#0092eb;

// heading Colors
$heading-blue   :#80efff;
$heading-d-pink :#f9006e;
$heading-green  :#90d92e;	

$bodyFont : 'Arial',sans-serif;

